* {
	box-sizing: border-box;
}

body {
	background:#e3e1e1;
}


h1 {
	font-weight: bold;
	margin: 0;
	font-size: 36px;
}

p {
	font-size: 17px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}
span {
	font-size: 17px;
	font-weight: bold;
}
button {
	border-radius: 20px;
	border: 1px solid #002db3;
	background-color:#002db3;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	transition: transform 90ms ease-in;
}

button:active {
	transform: scale(.9);
}

button.trans {
	background-color: transparent;
	border-color: white;
}
button:focus {
    outline: none;
}

form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: white;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  border-radius: 25px;
}
.name-group {
  display: flex;
}
.name-group input {
    width: 50%;
}
.name-group input:first-child {
    margin-right: 25px;
}

.box {
	margin-top: 40px;
	background-color: white;
	border-radius: 15px;
  box-shadow: 0 19px 33px rgba(0,0,0,0.3);
	position: relative;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	height: 470px;
}

.form-side {
	position: absolute;
	height: 100%;
	transition: 0.6s ease-in-out;
}

.sign-in-form {
	width: 50%;
	z-index: 2;
}

.box.right-panel-active .sign-in-form {
	transform: translateX(100%);
}

.sign-up-form {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.box.right-panel-active .sign-up-form {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.box.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: linear-gradient(to bottom, #0033cc,#01144a);
	color: white;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.box.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.box.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.box.right-panel-active .overlay-right {
	transform: translateX(20%);
}
