<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="{% static 'images/icons8-brain-96.png' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">

        
        {% include "parts/navhome.html" %}
        
        {% if messages %}
        {% for message in messages %}


        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div>{{message}}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        
        {% endfor %}
        {% endif %}
    <head>
    <body>
        {% block content %}
        {% endblock content%}
    </body>
<html>