{%load static%}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout_user' %}">Log Out</a></li>
      <!--<li style="color: white;"><center>Edit Profile</center</li>-->
        <li style="color: white;"><a href="{% url 'profilepage' user.username %}"></a><center>Profile</center</li>
      {% else %}
      <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
      <li><a href="{% url 'login_user' %}">Log In</a></li>
      {% endif %}
    </ul>
</nav>